body{
        background-image: url("Hotel.jpg");
        background-size: cover;
      }
h1{
        font-family: 'Alex Brush', cursive;
      }
h2{
        font-family: 'Alex Brush', cursive;
        color: green;
      }
input{
        background-color: rgba(195, 195, 195, 0.7);
        border: 0px;
        font-family: 'Alex Brush', cursive;
        font-size: 16px;
      }
button{
        background-color: rgba(195, 195, 195, 0.7);
        border: 0px;
        font-family: 'Alex Brush', cursive;
        font-size: 16px;
      }
select{
        background-color: rgba(195, 195, 195, 0.7);
        border: 0px;
        font-family: 'Alex Brush', cursive;
        font-size: 16px;
      }
#title{
        width: 100%auto;
        height: 60px;
        margin: -20px -8px 0px -8px;
        background-color: rgba(195, 195, 195, 0.7);
        padding: 10px 10px 10px 10px;
        font-size: 20px;
        text-align: center;
      }
span{
  visibility: hidden;
}
.room{
        width: 250px;
        height: 10%auto;
        float: left;
        margin-top: 10px;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 5px;
        background-color: rgba(70, 230, 210, 0.6);
        font-size: 15px;
        font-family: 'Alex Brush', cursive;
        font-size: 16px;
        }